<footer class="site-footer h-card">
    <data class="u-url" href="{{ " /" | relative_url }}"></data>

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <div class="footer-col-wrapper">

            <div class="footer-col footer-col-1">

                <ul class="uk-list-footer uk-list uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                    <li class="el-item">
                        <div class="uk-grid-small uk-child-width-expand uk-flex-nowrap uk-flex-middle uk-grid"
                            uk-grid="">
                            <div class="uk-width-auto uk-first-column">
                                <a href="https://adamant.im" class="uk-link-reset" aria-hidden="true"><svg class="el-image" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="10"/><path d="M2 12h20M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"/></svg></a>
                            </div>
                            <div>
                                <div class="el-content">
                                    <a href="https://adamant.im" target="_blank" class="el-link">ADAMANT Website</a>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="el-item">
                        <div class="uk-grid-small uk-child-width-expand uk-flex-nowrap uk-flex-middle uk-grid"
                            uk-grid="">
                            <div class="uk-width-auto uk-first-column">
                                <a href="https://adamant.im/devs/" class="uk-link-reset uk-text-muted" aria-hidden="true"><svg class="el-image" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg"><polyline points="16 18 22 12 16 6"/><polyline points="8 6 2 12 8 18"/></svg></a>
                            </div>
                            <div>
                                <div class="el-content">
                                    <a class="" href="https://adamant.im/devs/" target="_blank">ADAMANT Dev Section</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="el-item">
                        <div class="uk-grid-small uk-child-width-expand uk-flex-nowrap uk-flex-middle uk-grid"
                            uk-grid="">
                            <div class="uk-width-auto uk-first-column">
                                <a href="https://github.com/adamant-im" class="uk-link-reset uk-text-muted" aria-hidden="true"><svg class="el-image" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385.6.105.825-.255.825-.57 0-.285-.015-1.23-.015-2.235-3.015.555-3.795-.735-4.035-1.41-.135-.345-.72-1.41-1.23-1.695-.42-.225-1.02-.78-.015-.795.945-.015 1.62.87 1.845 1.23 1.08 1.815 2.805 1.305 3.495.99.105-.78.42-1.305.765-1.605-2.67-.3-5.46-1.335-5.46-5.925 0-1.305.465-2.385 1.23-3.225-.12-.3-.54-1.53.12-3.18 0 0 1.005-.315 3.3 1.23.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23.66 1.65.24 2.88.12 3.18.765.84 1.23 1.905 1.23 3.225 0 4.605-2.805 5.625-5.475 5.925.435.375.81 1.095.81 2.22 0 1.605-.015 2.895-.015 3.3 0 .315.225.69.825.57A12.02 12.02 0 0024 12c0-6.63-5.37-12-12-12z"/></svg></a>
                            </div>
                            <div>
                                <div class="el-content">
                                    <a href="https://github.com/adamant-im" target="_blank" class="el-link"> ADAMANT on
                                        GitHub</a>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>


            </div>

            <div class="footer-col footer-col-3">
                <p>ADAMANT Improvement Proposals (AIPs) describe standards for the ADAMANT Messenger platform, including
                    core protocol specifications and client APIs.</p>
            </div>

        </div>

    </div>

</footer>